.fa-address-book {
  position: relative;
  color: green;
  margin-left: 2rem;
  margin-bottom: 0rem;
}

.fa-file-archive {
  position: relative;
  color: blue;
  margin-left: 2rem;
  margin-bottom: 0rem;
}

h1 {
  color: rgb(46, 31, 132);
  border-bottom-style: ridge;
  text-align: center;
  border-color: rgb(46, 31, 132);
  border-width: 5px;
  font-family: 'Righteous', cursive;
}

body {
  background-color: #AEDD81;
  font-family: 'Roboto Condensed', sans-serif;
}

#important:hover {
  background-color: rgb(240, 216, 188);
  font-family: cursive;
  font-style: oblique;
}

h2 {
  color: rgb(108, 0, 0);
  text-align: center;
  padding-top: 1rem;
  margin-top: 0rem;
  font-family: 'Lobster', cursive;
  font-size: 40px;
  vertical-align: middle;
}

h3 {
  text-decoration-line: underline;
  text-decoration-color:rgb(108, 0, 0);
  text-decoration-style: wavy;
  font-family: fantasy;
  padding-bottom: 0rem;
  margin-bottom: 0.5rem;
  text-align: justify;
}

h4 {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
p {
  margin-top: 0rem;
  margin-bottom: 0rem;
}
.major {
  font-style: italic;
}
.footer {
  font-family: 'Kanit', sans-serif;
  color: gray;
  text-decoration: overline;
  padding-top: 10rem;
  overflow: hidden;
  text-align: center;
}

#list-of-project:hover {
  background-color: rgb(98, 239, 232);
  font-family: cursive;
  font-weight: 700;

}

.list-of-project2:hover {
  background-color: rgb(98, 141, 232);
  font-family: monospace;
}

.list-of-project2 {
  margin-top: 5rem;
}

img {
  border-style: dashed;
  border-color: rgb(40, 96, 251);
  border-width: 2px;
  margin-left: 8rem;
}

.img {
  width: 200px;
  height: 150px;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
}

a.link1:hover {
  background-color: rgb(166, 192, 251);
  font-family: monospace;
  font-size: 25px;
  transition: all 2s ease-in 2s;
}

a.link2:hover {
  background-color: rgb(215, 192, 251);
  font-family: monospace;
  transition-property: all;
  transition-duration: 2s;
  transition-timing-function: ease-in;
  transition-delay: 2s;
}

.img2 {
  width: 400px;
  height: 210px;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
}


.box {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

#footlink {
  font-weight: 700;
  margin-left: 15rem;
}
li {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

.box2 {
  display: inline-block;
  flex-direction: column;
  margin-top: 0rem;
  padding-left: 0rem;
}
header {
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2rem;
}
section {
  margin-left: 8rem;
  margin-right: 8rem;
}

#sbox {
  float: left;
}
#sbox2 {
  float:  left;
  align-items: center;
  position: sticky;
  margin-top: 3rem;
  margin-left: 2rem;
}
h3:nth-child(n) {
  background-color: peachpuff;
}
p.footer:hover {
  color: black;
  font-size: 25px;
  transition: font-size 2s 2s;
}
